{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="div">Nature's Beauty</h1>
    <img src="{% static 'img/vaishali.jpeg' %}", alt="vaishali_gupta">
    <video width="30%" height="260px" controls>
        <source src="{% static 'vdo/new.mp4' %}" type="video/mp4">
        your browser does not support the video tag.
    </video>
    <img src="{% static 'img/image2.jpeg' %}", alt="vaishali_gupta">
    <video controls>
        <source src="{% static 'vdo/vaishali.mp4' %}" type="video/mp4">
        your browser does not support the video tag.
    </video>
    <img src="{% static 'img/image3.jpeg' %}", alt="vaishali_gupta">
    <video controls>
        <source src="{% static 'vdo/video2.mp4' %}" type="video/mp4">
        your browser does not support the video tag.
    </video>
</body>
</html>