{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>welcome to home</h1>
    <img src="{% static 'img/vaishali.jpeg' %}" height="20%" width="30%", alt="vaishali_gupta">
    <video width="30%" height="20%" controls>
        <source src="{% static 'vdo/new.mp4'}">
    </video>
    
</body>
</html>